body {
  background-color: #112f4a;
  font-family: "Mouse Memoirs", sans-serif;
}

.color-bg {
  background-color: #112f4a;
}
.img-class {
  width: 100px;
  height: 32px;
  max-width: 100%;
}
span {
  color: #38bdf8;
}
