body {
  background-color: #112f4a;
  font-family: "Mouse Memoirs", sans-serif;
}

.color-bg {
  background-color: #112f4a;
}
.img-class {
  width: 100px;
  height: 32px;
  max-width: 100%;
}
span {
  color: #38bdf8;
}
.futer-img {
  height: 112px;
  width: 112px;
  max-width: 100%;
}
.main-container {
  height: 500px;
}
.bg-bg {
  background-color: #182233;
}
.icon-size {
  font-size: 70px;
}
